<?xml version="1.0" encoding="UTF-8"?><project-modules id="moduleCoreId" project-version="1.5.0">
    <wb-module deploy-name="eu.musa.modeller.ws">
        <wb-resource deploy-path="/" source-path="/WebContent" tag="defaultRootSource"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/src"/>
        <property name="java-output-path" value="/eu.musa.modeller.ws/build/classes"/>
        <property name="context-root" value="eu.musa.modeller.ws"/>
    </wb-module>
</project-modules>
